[data-bs-theme=dark]{
    --body-bgMain: #fff;
    --body-bg-DarkMain: #3D3D3D;
}
.bg-DarkMain{
	background-color: #3D3D3D;
    /*$white: var(--body-bg);*/
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
  }
  

/* CUSTOMIZE Page About
  -------------------------------------------------- */
.card-img-block {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -40px;
    left: -40px;
    
}

  

  /*
  -------------------------------------------------- */


  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  

  #color{
    background-color: rgb(0, 0, 0);  
}

#item {
    color: aliceblue;
  }

/* Estilo personalizado para el fondo de los rellenables del formulario con el color #f9f8f2 */
.custom-bg {
    background-color: #f9f8f2;
}

/* Estilo personalizado para el sombreado */
.custom-shadow {
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

